<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        @RenderSection("head", required: false)
        @RenderSection("scripts", false)


    </head>
    <body>
        <header>
            <div>LOGO</div>
            @if (HttpContext.Current.Session["UserName"] != null)
            {
                <span>@Session["UserName"]</span>
                @Html.ActionLink("Logout", "Logout", "Account");
            }
            else
            {
                <a href="@Url.Action("Login", "Account")">Login</a>
                <a href="@Url.Action("Signup", "Account")">Signup</a>
            }

        </header>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
